.vscode/
.vscode-server/
golang/
.vscode-remote-containers/
gopath/
Projects/
.poetry/
.nvm/
.npm/
.cache/
.docker/
.directory_history/
.local/
.oh-my-zsh/
.opt/
.virtualenvs/
.gem/
.aws/
.azure/
.cargo/**
*/node_modules/**
